# Indexes the column Timestamp into the pd.Dataframe

In [2]:
import pandas as pd

coinbase = pd.read_csv("coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv")
coinbase.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
coinbase_idx = coinbase.set_index(coinbase["Timestamp"])
coinbase_idx = coinbase_idx.drop(columns=["Timestamp"])
(coinbase_idx.dropna().tail())

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
1546898520,4006.01,4006.57,4006.00,4006.01,3.382954,13553.433078,4006.390309
1546898580,4006.01,4006.57,4006.00,4006.01,0.902164,3614.083168,4006.017232
1546898640,4006.01,4006.01,4006.00,4006.01,1.192123,4775.647308,4006.003635
1546898700,4006.01,4006.01,4005.50,4005.50,2.699700,10814.241898,4005.719991
1546898760,4005.51,4006.01,4005.51,4005.99,1.752778,7021.183546,4005.745614