# Concatenates the start of the bitstamp table onto the top of the coinbase table
* Include all data from bitstamp up to and including timestamp 1417411920
* Add keyes to the data labeled bitstamp and coinbase respectively

In [5]:
import pandas as pd

coin = pd.read_csv('coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv')
bit = pd.read_csv('bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv')

coin.set_index('Timestamp')
coin.drop('Timestamp', axis=1)
coin.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
bit.set_index('Timestamp')
bit.drop('Timestamp', axis=1)
bit.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
4363452,1587513360,6847.97,6856.35,6847.97,6856.35,0.125174,858.128697,6855.498790
4363453,1587513420,6850.23,6856.13,6850.23,6850.89,1.224777,8396.781459,6855.763449
4363454,1587513480,6846.50,6857.45,6846.02,6857.45,7.089168,48533.089069,6846.090966
4363455,1587513540,6854.18,6854.98,6854.18,6854.98,0.012231,83.831604,6854.195090
4363456,1587513600,6850.60,6850.60,6850.60,6850.60,0.014436,98.896906,6850.600000

In [25]:
bit_max_row = bit[bit['Timestamp'] <= 1417411920]
both = pd.concat([bit_max_row, coin], keys=['bitstamp', 'coinbase'])
both.head()

             Timestamp  Open  High   Low  Close  Volume_(BTC)  \
bitstamp 0  1325317920  4.39  4.39  4.39   4.39      0.455581
         1  1325317980   NaN   NaN   NaN    NaN           NaN
         2  1325318040   NaN   NaN   NaN    NaN           NaN
         3  1325318100   NaN   NaN   NaN    NaN           NaN
         4  1325318160   NaN   NaN   NaN    NaN           NaN

            Volume_(Currency)  Weighted_Price
bitstamp 0                2.0            4.39
         1                NaN             NaN
         2                NaN             NaN
         3                NaN             NaN
         4                NaN             NaN

In [26]:
both.tail()

                   Timestamp     Open     High      Low    Close  \
coinbase 2099755  1546898520  4006.01  4006.57  4006.00  4006.01
         2099756  1546898580  4006.01  4006.57  4006.00  4006.01
         2099757  1546898640  4006.01  4006.01  4006.00  4006.01
         2099758  1546898700  4006.01  4006.01  4005.50  4005.50
         2099759  1546898760  4005.51  4006.01  4005.51  4005.99

                  Volume_(BTC)  Volume_(Currency)  Weighted_Price
coinbase 2099755      3.382954       13553.433078     4006.390309
         2099756      0.902164        3614.083168     4006.017232
         2099757      1.192123        4775.647308     4006.003635
         2099758      2.699700       10814.241898     4005.719991
         2099759      1.752778        7021.183546     4005.745614