# Based on the 11-concat function previously
### Rearrange the Index levels so that timestamp is the first level
* Concatenate the bitstamp and coinbase tables from timestamps 1417411980 to 1417417980, inclusive
* Add keyes to the data labeled bitstamp and coinbase respectively
* Display the rows in chronological order

In [7]:
import pandas as pd

coin = pd.read_csv("coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv")
bit = pd.read_csv("bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv")

coin.set_index("Timestamp", inplace=True)
coin.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
bit = bit.set_index("Timestamp")
bit.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
coin_concat = coin.loc[1417411980 : 1417417980]
bit_concat = bit.loc[1417411980 : 1417417980]

print(bit_concat.head())
print(coin_concat.head())

Empty DataFrame
Columns: [Timestamp, Open, High, Low, Close, Volume_(BTC), Volume_(Currency), Weighted_Price]
Index: []
             Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)  \
Timestamp
1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1417412040    NaN    NaN    NaN    NaN           NaN                NaN
1417412100    NaN    NaN    NaN    NaN           NaN                NaN
1417412160    NaN    NaN    NaN    NaN           NaN                NaN
1417412220    NaN    NaN    NaN    NaN           NaN                NaN

            Weighted_Price
Timestamp
1417411980           300.0
1417412040             NaN
1417412100             NaN
1417412160             NaN
1417412220             NaN

In [29]:
both = pd.concat([coin_concat, bit_concat], keys=["coinbase", "bitstamp"])

both_fixed = both.swaplevel(i = 0, j = 1).sort_index()

print(both_fixed)

                      Open   High    Low  Close  Volume_(BTC)  \
1417411980 coinbase  300.0  300.0  300.0  300.0          0.01
1417412040 coinbase    NaN    NaN    NaN    NaN           NaN
1417412100 coinbase    NaN    NaN    NaN    NaN           NaN
1417412160 coinbase    NaN    NaN    NaN    NaN           NaN
1417412220 coinbase    NaN    NaN    NaN    NaN           NaN
...                    ...    ...    ...    ...           ...
1417417740 coinbase    NaN    NaN    NaN    NaN           NaN
1417417800 coinbase    NaN    NaN    NaN    NaN           NaN
1417417860 coinbase    NaN    NaN    NaN    NaN           NaN
1417417920 coinbase    NaN    NaN    NaN    NaN           NaN
1417417980 coinbase    NaN    NaN    NaN    NaN           NaN

                     Volume_(Currency)  Weighted_Price  Timestamp
1417411980 coinbase                3.0           300.0        NaN
1417412040 coinbase                NaN             NaN        NaN
1417412100 coinbase                NaN             NaN        NaN
1417412160 coinbase                NaN             NaN        NaN
1417412220 coinbase                NaN             NaN        NaN
...                                ...             ...        ...
1417417740 coinbase                NaN             NaN        NaN
1417417800 coinbase                NaN             NaN        NaN
1417417860 coinbase                NaN             NaN        NaN
1417417920 coinbase                NaN             NaN        NaN
1417417980 coinbase                NaN             NaN        NaN

[101 rows x 8 columns]