# Slices the od.Dataframe along the given columns, and takes every 60th row
* The columns are:
* High, Low, Close, Volume_BTC

In [4]:
import pandas as pd

file = pd.read_csv('coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv')
file.head(3)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
sliced_cheese = file.iloc[::60 , 2:6]
sliced_cheese.tail()

            High      Low    Close  Volume_(BTC)
2099460  4020.08  4020.07  4020.08      4.704989
2099520  4020.94  4020.93  4020.94      2.111411
2099580  4020.00  4019.01  4020.00      4.637035
2099640  4017.00  4016.99  4017.00      2.362372
2099700  4014.78  4013.50  4014.72      1.291557