# We shall fill in the gaps
* The column Weighted_Price should be removed
* Missing values in Close should be set to the previous row value.
* Missing values in High, Low, Open should be set to the same row's Close value
* missing values in Volume_(BTC) and Volume(currency) should be set to 0

In [3]:
import pandas as pd

file = pd.read_csv("coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv")

In [2]:
file.head(5)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
file = file.drop(columns="Weighted_Price", axis=1)
file.head(5)

    Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)
0  1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1  1417412040    NaN    NaN    NaN    NaN          0.00                0.0
2  1417412100    NaN    NaN    NaN    NaN          0.00                0.0
3  1417412160    NaN    NaN    NaN    NaN          0.00                0.0
4  1417412220    NaN    NaN    NaN    NaN          0.00                0.0

In [24]:
file["Close"].ffill(inplace=True)
file["Close"]

0           300.00
1           300.00
2           300.00
3           300.00
4           300.00
            ...
2099755    4006.01
2099756    4006.01
2099757    4006.01
2099758    4005.50
2099759    4005.99
Name: Close, Length: 2099760, dtype: float64

In [34]:
file["High"] = file["High"].fillna(file["Close"])
file["Low"] = file["Low"].fillna(file["Close"])
file["Open"] = file["Open"].fillna(file["Close"])

file[["High", "Low", "Open"]].head(5)

C:\Users\User\AppData\Local\Temp\ipykernel_4568\4216788707.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  file["High"] = file["High"].fillna(file["Close"])
C:\Users\User\AppData\Local\Temp\ipykernel_4568\4216788707.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  file["Low"] = file["Low"].fillna(file["Close"])
C:\Users\User\AppData\Local\Temp\ipykernel_4568\4216788707.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  file["Open"] = file["Open"].fillna(file["Close"])

    High    Low   Open
0  300.0  300.0  300.0
1  300.0  300.0  300.0
2  300.0  300.0  300.0
3  300.0  300.0  300.0
4  300.0  300.0  300.0

In [16]:
Volume_btc = file["Volume_(BTC)"]
if Volume_btc.isnull().values.any():
    Volume_btc.fillna(0, inplace=True)
Volume_cur = file["Volume_(Currency)"]
if Volume_cur.isnull().values.any():
    Volume_cur.fillna(0, inplace=True)
file.head()

    Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)
0  1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1  1417412040    NaN    NaN    NaN    NaN          0.00                0.0
2  1417412100    NaN    NaN    NaN    NaN          0.00                0.0
3  1417412160    NaN    NaN    NaN    NaN          0.00                0.0
4  1417412220    NaN    NaN    NaN    NaN          0.00                0.0

In [35]:
print(file.head())
print(file.tail())

    Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)
0  1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1  1417412040  300.0  300.0  300.0  300.0          0.00                0.0
2  1417412100  300.0  300.0  300.0  300.0          0.00                0.0
3  1417412160  300.0  300.0  300.0  300.0          0.00                0.0
4  1417412220  300.0  300.0  300.0  300.0          0.00                0.0
          Timestamp     Open     High      Low    Close  Volume_(BTC)  \
2099755  1546898520  4006.01  4006.01  4006.01  4006.01      3.382954
2099756  1546898580  4006.01  4006.01  4006.01  4006.01      0.902164
2099757  1546898640  4006.01  4006.01  4006.01  4006.01      1.192123
2099758  1546898700  4005.50  4005.50  4005.50  4005.50      2.699700
2099759  1546898760  4005.99  4005.99  4005.99  4005.99      1.752778

         Volume_(Currency)
2099755       13553.433078
2099756        3614.083168
2099757        4775.647308
2099758       10814.241898
2099759        7021.183546